.searchResults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__info{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__output{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 50px 30px;
        width: 950px;
        min-height: 200px;
        background-color: rgba(222, 184, 135, 0.3);
        border-radius: 4px;
    }
    &__text{
        text-align: center;
        margin: auto;
    }
    &__error{
        color: red;
        text-align: center;
        font-size: 26px;
    }
    &__loading{
        width: 50px;
        height: 50px;
        border: 4px dotted black;
        animation: rotate 3s;
        border-radius: 50%;
        margin: 0 auto;
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}